{% extends 'admin/base.html.twig' %}

{% block title %}Admin - voir une recette{% endblock %}

{% form_theme form _self %}

{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-8">
            <h1 class="h3 mb-0 text-gray-800">Modifier la recette <b>{{recette.titre}}</b> publiée par {{recette.publiePar.prenom}} </h1>
            {% if recette.produitRecettes|length == 0 %}
                <div class="pt-3">
                    <div class="alert alert-danger">
                        <p class="lead"><b>Attention</b> ! Cette recette n'a pas de produit ! </p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4 text-right">
            {% set url = app.request.server.get('HTTP_REFERER') %}
            {% if 'moderation' in url %}
            <a href="{{ path('admin_recette_moderation') }}" class="btn btn-primary">Retour à la liste des recettes</a>
            {% else %}
            <a href="{{ path('admin_recette_modification') }}" class="btn btn-primary">Retour à la liste des recettes</a>
            {% endif %}
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Modifier cette recette !</button>
    {{ form_end(form) }}
{% endblock %}

{% block _admin_recette_ProduitRecettes_widget %}

    <p> Ajouter les produits nécessaires à la recette </p>
    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <button type="button" id="recetteProduitRecettes" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un produit à la recette</button>

{% endblock %}

{% block _admin_recette_ProduitRecettes_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _admin_recette_ProduitRecettes_entry_widget %}
<div class="form-group" id="block_{{id}}">
 <div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                {{ form_widget(form.produit)}}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.quantite)}}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
    </div>
 </div>
</div>
{% endblock %}

{% block javascripts %}

<script>
$('#recetteProduitRecettes').click(function(){
    // je récupère le numéro des futurs champs que je vais créer.
    const index = +$('#widgets-counter').val();

    // je récupère le prototype des entrées.
    const tmpl = $('#admin_recette_ProduitRecettes').data('prototype').replace(/__name__/g, index);

    //j'injecte ce code au sein de la div
    $('#admin_recette_ProduitRecettes').append(tmpl);

    $('#widgets-counter').val(index + 1);

    // je gère le bouton suprrimer
    handleDeleteButtons();

 });

 function handleDeleteButtons(){
     $('button[data-action="delete"]').click(function(){
         // this représente le bouton sur lequel on a cliqué
         // dataset => tous les attributs -qqch
         // target pcq ici on veut récupérer le data-target
         const target = this.dataset.target;
         $(target).remove();
     });
 }

 function updateCounter(){
     const count = +$('#admin_recette_ProduitRecettes div.form-group').length;

     $('#widgets-counter').val(count);
 }

 updateCounter();

 // je l'appelle aussi à chaque rechargement de la page
 handleDeleteButtons();
</script>

{% endblock %}